@model act.Models.Act

<div class="container">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-8">
                <div class="form-group">
                    <label for="customer">Заказчик</label>
                        <input type="text" class="form-control" asp-for="ClientName" placeholder="полное наименование, адрес, данные о средствах связи">
                        <span asp-validation-for="ClientName" class="text-danger"></span>            
                </div> 
        </div>
        <div class="col-md-4">
                <div class="form-group">
                <label for="exampleInputEmail1">ИИН/БИН</label>
                <input type="text" class="form-control" asp-for="ClientBin"  placeholder="12-и значный номер" pattern="[0-9]{12}" >
                </div>
        </div>	
        <div class="col-md-8">
                <div class="form-group">
                    <label for="suplier">Исполнитель</label>
                    <input type="text" class="form-control" asp-for="SupplierName" placeholder="полное наименование, адрес, данные о средствах связи">
                    <span asp-validation-for="SupplierName" class="text-danger"></span>
                </div> 
        </div>
        <div class="col-md-4">
                <div class="form-group">
                <label for="exampleInputEmail1">ИИН/БИН</label>
                <input type="text" class="form-control" asp-for="SupplierBin" placeholder="12-и значный номер" pattern="[0-9]{12}">
                </div>
        </div>	
    </div>
    <div class="row">
        <div class="col-md-8" >
           <div class="form-group">
                    <fieldset>
                        <label><strong>Договор </strong></label>
                        <input type="text" asp-for="AgreementPrefix" placeholder="Префикс">
                        <span asp-validation-for="AgreementPrefix" class="text-danger"></span>
                        <label><strong>№</strong></label>
                        <input type="text"  asp-for="AgreementNumber">
                        <span asp-validation-for="AgreementNumber" class="text-danger"></span>
                        <label><strong>Дата договора</strong></label>
                        <input type="date"  asp-for="AgreementDate" asp-format="{0:d}">
                        <span asp-validation-for="AgreementDate" class="text-danger"></span>
                    </fieldset>
            </div> 
        </div>
         
        <div class="col-md-8" style="text-align:center">
            <span>Акт выполненных работ (оказанных услуг)</span>
        </div>

    </div>
        <div class="row">
        <div class="col-md-8">
            
        </div>
        <div class="col-md-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="suplier" style="text-align:center;">Номер документа</label>
                            <input type="text" asp-for="DocumentNumber" class="form-control">
                            <span asp-validation-for="DocumentNumber" class="text-danger" ></span>
                        </div> 
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="suplier" style="text-align:center;">Дата составления</label>
                            <input type="text" class="form-control" asp-for="Date" asp-format="{0:d}">
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <table class="table table-bordered" width="100%">
        <tr>
        <th rowspan="2" valign="top" style="text-align:center;">Номер по порядку</th>
        <th rowspan="2" valign="top" style="text-align:center;">Наименование работ (услуг) (в разрезе их подвидов в соответствии с технической спецификацией, заданием, графиком выполнения работ (услуг) при их наличии)</th> 
        <th rowspan="2" valign="top" style="text-align:center;">Дата выполнения работ (оказания услуг)</th>
        <th rowspan="2" valign="top" style="text-align:center;">Сведения об отчете о научных исследованиях, маркетинговых, консультативных и прочих услугах (дата, номер, количество страниц) (при их наличии)</th>
        <th rowspan="2" valign="top" style="text-align:center;">Единица измерения</th>
        <th  valign="top" colspan="3" style="text-align:center;">Выполнено работ (оказано услуг)</th>
        </tr>
        <tr>
            <th valign="top" style="text-align:center;">Количество</th>
            <th valign="top" style="text-align:center;">Цена за единицу</th>
            <th valign="top" style="text-align:center;">Стоимость</th>
        </tr>
        <tr>
        </tr>
        <tr>
        <td align="center">1</td>
        <td align="center">2</td> 
        <td align="center">3</td>
        <td align="center">4</td>
        <td align="center">5</td>
        <td align="center">6</td>
        <td align="center">7</td>
        <td align="center">8</td>
        </tr>
        @if(Model==null)
        {
                @await Component.InvokeAsync("Services")
        }
        else
        {
              @foreach(var s in @Model.Services)
			  {
				  <tr>
				    <td align="center"><a asp-action="ServiceDelete" asp-route-id="@Model.Id" asp-route-serviceid="@s.Id"><span title="Удалить" class="glyphicon glyphicon-remove"></span></a></td>
					<td>@s.Name</td> 
					<td></td>
					<td></td>
					<td></td>
					<td align="right">@s.Amount</td>
					<td align="right">@s.Price</td>
					<td align="right">@s.Total</td>
				  </tr>
			  }
        }
    </table>
</div>


