@model act.Models.Act
<section>
		<article>
		<H1>Просмотр Акта</H1>
		<hr>
		<div class="container">
			<div class="row">
			    <div class="col-md-8">
								<div class="row">
									<label class="col-md-8">Заказчик</label>
								</div>
								<div class="row">
									<span class="col-md-8">@Model.ClientName</span>
								</div>
			    </div>
				<div class="col-md-4">
					  <div class="row">
					    <label class="col-md-4">ИИН/БИН</label>
						</div>
						<div class="row">
					   	<span class="col-md-4">@Model.ClientBin</span>
					  </div>
			    </div>	
			    <div class="col-md-8">
						<div class="row">
						    <label class="col-md-8">Исполнитель</label>
						</div>
						<div class="row">
						   	<span class="col-md-4">@Model.SupplierName</span>
						</div> 
			    </div>
				<div class="col-md-4">
					  <div class="row">
					    <label class="col-md-4">ИИН/БИН</label>
						</div>
						<div class="row">
							<span class="col-md-4">@Model.SupplierBin</span>
					  </div>
			    </div>	
		    </div>
				@if(Model.AgreementPrefix!=String.Empty||Model.AgreementNumber!=null||Model.AgreementDate!=null)
				{
				<div class="row">
					 <div class="form-group col-md-8">
                    <fieldset>
                        <label><strong>Договор </strong></label>
												<span>@Model.AgreementPrefix</span> 
                        <label><strong>№</strong></label>
                        <span>@Model.AgreementNumber</span>
                  			<label><strong>Дата договора</strong></label>
												<span>@Model.AgreementDate</span>
                    </fieldset>
            </div> 
				</div>
				}
		    <div class="row">
			    <div class="col-md-8" style="text-align:center">
			    	<span>Акт выполненных работ (оказанных услуг)</span>
			    </div>

		    </div>
		      <div class="row">
			    <div class="col-md-8">
			  </div>
			 	<div class="col-md-4">
			    	<div class="row">
			    	  <div class="col-xs-6">
				    		<div class="row">
									<div class="col-xs-6">
							    	<label style="text-align:center;">Номер документа</label>
									</div>
									<div class="col-xs-6">
							    	<label style="text-align:center;">Дата составления</label>
									</div>
							  </div>
								<div class="row">
									<div class="col-xs-6">
								  	<span class="col-xs-6" style="text-align:center;">@Model.DocumentNumber</span>
								  </div>
									<div class="col-xs-6">
								  	<span class="col-xs-6" style="text-align:center;">@Model.Date.ToString("d")</span>
								  </div>
								</div>
							</div> 
					  </div>
			    </div>
		    </div>
		</div>
		<div class="row">
		<br/>
		</div>
		<div class="row">
		<div class="container">
			<table class="table table-bordered">
			  <tr>
			    <th rowspan="2" valign="top" style="text-align:center;">Номер по порядку</th>
			    <th rowspan="2" valign="top" style="text-align:center;">Наименование работ (услуг) (в разрезе их подвидов в соответствии с технической спецификацией, заданием, графиком выполнения работ (услуг) при их наличии)</th> 
			    <th rowspan="2" valign="top" style="text-align:center;">Дата выполнения работ (оказания услуг)</th>
			    <th rowspan="2" valign="top" style="text-align:center;">Сведения об отчете о научных исследованиях, маркетинговых, консультативных и прочих услугах (дата, номер, количество страниц) (при их наличии)</th>
			    <th rowspan="2" valign="top" style="text-align:center;">Единица измерения</th>
			    <th  valign="top" colspan="3" style="text-align:center;">Выполнено работ (оказано услуг)</th>
			  </tr>
              <tr>
				  <th valign="top" style="text-align:center;">Количество</th>
				  <th valign="top" style="text-align:center;">Цена за единицу</th>
				  <th valign="top" style="text-align:center;">Стоимость</th>
              </tr>
			  <tr>
			  </tr>
			  <tr>
			    <td align="center">1</td>
			    <td align="center">2</td> 
			    <td align="center">3</td>
			    <td align="center">4</td>
			    <td align="center">5</td>
			    <td align="center">6</td>
			    <td align="center">7</td>
			    <td align="center">8</td>
			  </tr>
				@{
					
				  int counter = 1;
					@foreach(var s in @Model.Services)
					{
						<tr>
							<td align="center">@(counter++)</td>
						<td>@s.Name</td> 
						<td></td>
						<td></td>
						<td></td>
						<td align="right">@s.Amount</td>
						<td align="right">@s.Price</td>
						<td align="right">@s.Total</td>
						</tr>
					}
				}
			  <tr>
			    <td align="center"> </td>
			    <td align="center"> </td> 
			    <td align="center"> </td>
			    <td align="center"> </td>
			    <td align="center">Итого</td>
			    <td align="center"> </td>
			    <td align="center">x</td>
			    <td align="right"><b>@Model.Total</b></td>
			  </tr>
			</table>
		</div>
		<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
						<a asp-action="index" class="btn btn-default">Назад к списку</a>
						<a asp-action="edit" asp-route-id="@Model.Id" class="btn btn-default">Изменить </a>
						<a asp-action="delete" asp-route-id="@Model.Id" class="btn btn-default">Удалить</a>
				</div>
		</div>
	</div>
</article>
</section>
